# The user that can connect to the weather database
DBUSER=weather

# The password for the user in the weather database
DBPASS=test

# The host containing the weather database
DBHOST=localhost

# The MySQL database name with the weather data
DBDATABASE=weather

# The time in seconds between pressure readings
TIME_BETWEEN_READINGS=10

# The i2c bus number
I2C_BUS=0

# The address of the BMP280 sensor on the i2c bus
SENSOR_ADDR=0x77

# The altitude of the sensor above sea level, in meters
# This is used to calculate the pressure at sea level
ALTITUDE_METERS=123
